<style>
	.meal-time {
		color: white;
		margin-left: 20px;
	}
</style>
<div id="drop-area" class="drop-area">
	<div style="color:white;">
		<div class="meal-time"><strong>SUNDAY LUNCH</strong><br>26th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>SUNDAY DINNER</strong><br>26th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>MONDAY LUNCH</strong><br>27th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>MONDAY DINNER</strong><br>27th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>TUESDAY LUNCH</strong><br>28th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>TUESDAY DINNER</strong><br>28th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>WEDNESDAY LUNCH</strong><br>29th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>WEDNESDAY DINNER</strong><br>29th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>THURSDAY LUNCH</strong><br>30th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>THURSDAY DINNER</strong><br>30th July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>FRIDAY LUNCH</strong><br>31st July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>FRIDAY DINNER</strong><br>31st July</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>SATURDAY LUNCH</strong><br>1st August</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
		<div class="meal-time"><strong>SATURDAY DINNER</strong><br>1st August</div>
		<div class="drop-area__item">
			<div class="dummy"></div>
		</div>
	</div>
</div>